<div class="row login">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header head">
        <h4 class="text-center title">Login!</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="login" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
            />
            <div
              *ngIf="login.get('email')?.touched && login.get('email')?.invalid"
            >
              <p
                class="text-danger"
                *ngIf="login.get('email')?.errors?.['required']"
              >
                Email is required
              </p>

              <p
                class="text-danger"
                *ngIf="login.get('email')?.errors?.['email']"
              >
                Invalid Email Format
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Password"
            />
          </div>
          <div class="mb-3">
            <button class="btn btn-primary w-100">login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
