.crt img{
width: 150px;
height: 150px;
}

.cartmain{margin-top: 30px;}

.crt{display: flex;flex-direction: row;justify-content: center;}

.crt p{display: flex;flex-direction: column;align-items: center;justify-content: center;}

.price{display: flex;flex-direction:column;align-items: center;justify-content: center;height: 100vh;width:100%;}

.d{display: flex;flex-direction: row;align-items: center;justify-content: center;}

.checkout{display: flex;flex-direction: row;justify-content: flex-end;margin-top: 10px;}